@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.profile {
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    transform: translateX(420px);
    transition: $transition;
    padding: 24px 12px;
    border-right: 1px $border-color solid;

    max-width: 420px;
    width: 100%;

    &__open {
        transform: translateX(0);
    }

    &__close {
        margin-top: 4px;
        height: 32px;

        & svg {
            stroke: var(--icons-buttons-color);
            width: 32px;
            height: 32px;

            transition: $transition;
        }

        &:hover svg {
            stroke: var(--button-hover);
        }

        &:active svg {
            stroke: var(--button-active);
        }
    }

    &__button {
        & svg {
            stroke: var(--icons-buttons-color);
            width: 24px;
            height: 24px;

            transition: $transition;
        }

        &:hover svg {
            stroke: var(--button-hover);
        }

        &:active svg {
            stroke: var(--button-active);
        }
    }

    &__bar {
        display: flex;
        justify-content: space-between;

        & h1 {
            @include heading(lg);
            color: var(--text-primary);
        }

        & div {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

}

.container {
    max-width: fit-content;
}

.anim {
    &__open {
        animation: openAnimation 0.7s ease 0s 1 normal forwards;
    }

    &__close {
        animation: closeAnimation 0.5s ease 0s 1 normal forwards;
    }

    &__back {
        animation: backAnimation 0.4s ease 0s 1 normal forwards;
    }
}

@keyframes backAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closeAnimation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes openAnimation {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}