@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.sidebar {
    border-right: 1px solid $border-color;
    min-width: 380px;
    position: relative;
    overflow-y: hidden;
}