@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.sidebar {
    flex-grow: 1;
    border-right: 1px solid $border-color;
    height: 100vh;
    width: 100%;
    max-width: 360px;
    min-width: 360px;
}