@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.form {
    background-color: var(--message-bg);

    width: 100%;
    max-width: 520px;

    padding: 24px 16px;
    border-radius: $border-radius;

    &__heading {
        @include heading(xl);
        margin-bottom: 24px;
        color: var(--text-primary);

        text-align: center;
    }

    &__navigation {
        @include text(sm);
        color: var(--text-primary);

        text-align: center;

        margin-top: 12px;

        & a {
            margin-left: 4px;
            color: $border-color;

            transition: $transition;

            &:hover {
                color: var(--button-hover);
            }

            &:active {
                color: var(--button-active);
            }
        }
    }

    &__content {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 520px;

        & svg {
            stroke: var(--button-bg);
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }

        & h1 {
            @include heading(xl);
            color: var(--text-primary);

            margin-bottom: 8px;
        }

        & p {
            @include text;

            text-align: center;
            color: var(--text-secondary);

            max-width: 480px;

            & a {
                color: var(--outgoing-message-bg);

                transition: $transition;

                &:hover {
                    color: var(--button-hover)
                }

                &:active {
                    color: var(--button-active)
                }
            }
        }
    }

    &__close {
        display: block;
        margin-left: auto;
        margin-bottom: 12px;

        & svg {
            stroke: var(--icons-buttons-color);

            transition: $transition;
        }

        &:hover svg {
            stroke: var(--button-hover);
        }

        &:active svg {
            stroke: var(--button-active);
        }
    }
}

.input__margin {
    margin-bottom: 8px;

    &__last {
        margin-bottom: 60px;
    }
}