@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.signup {
    &__header {
        background-color: var(--bg-secondary);
        padding: 24px 32px;
        border-bottom: 1px solid var(--border-color);

        & div {
            position: relative;
            display: flex;
            margin: 0 auto;

            & button {
                position: absolute;
                margin-top: 2px;
                width: fit-content;                
            }

            & h1 {
                @include heading(lg);

                color: var(--text-primary);

                text-align: center;
                width: 100%;
            }
        }
    }

    &__content {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
        margin-top: 24px;
        padding: 0 24px;
        height: 82vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__progress {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 32px;

        & ul {
            display: flex;
            justify-content: space-between;

            & li {
                position: relative;
                display: flex;

                & span {
                    background-color: var(--accent-fog);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include text;
                    color: var(--bg-primary);

                    width: 24px;
                    height: 24px;

                    margin-right: 4px;
                    border-radius: 50%;

                    transition: $transition;

                    & svg {
                        height: 16px;
                        width: 16px;

                        stroke: var(--bg-primary)
                    }
                }

                & p {
                    @include text;
                    color: var(--text-primary);
                }

                &.active span {
                    background-color: var(--accent);
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 20px;
                    background-color: var(--accent-fog);
                    left: -36px;
                    bottom: 11px;
                    transition: $transition;
                }

                &.active::before {
                    background-color: var(--accent);
                }

                &:first-child::before {
                    height: 0;
                    width: 0;
                }
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--accent-fog);

        width: 100px;
        height: 100px;

        margin: 0 auto;
        border-radius: $border-radius;

        & svg {
            width: 60px;
            height: 60px;

            stroke: var(--accent);
        }
    }

    &__info {
        margin: 12px 0;

        & h2 {
            @include heading(xl);
            color: var(--text-primary);
            text-align: center;

            margin-bottom: 8px;
        }

        & p {
            @include text(sm);
            color: var(--text-secondary);
            text-align: center;
        }
    }

    &__form {
        margin: 24px 0;
    }

    &__continue {
        margin-bottom: 12px;
    }

    &__passwd {
        background-color: var(--bg-secondary);

        padding: 12px 24px;
        border: 1px var(--border-color) solid;
        border-radius: $border-radius;

        & h3 {
            @include heading;
            font-weight: 600;
            color: var(--text-primary);
            margin-bottom: 12px
        }

        & ul {
            & li {
                @include text;
                color: var(--text-secondary);
                display: flex;
                align-items: center;
                gap: 8px;

                margin-bottom: 4px;

                transition: $transition;

                & span {
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    transition: $transition;
                }

                &:has(.signup__correct) {
                    color: var(--text-primary);
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__mistake {
        background-color: $error;
    }
    &__correct {
        background-color: $success;
    }
}

// .form {
//     background-color: var(--message-bg);

//     width: 100%;
//     max-width: 520px;

//     padding: 24px 16px;
//     border-radius: $border-radius;

//     &__heading {
//         @include heading(xl);
//         margin-bottom: 24px;
//         color: var(--text-primary);

//         text-align: center;
//     }

//     &__navigation {
//         @include text(sm);
//         color: var(--text-primary);

//         text-align: center;

//         margin-top: 12px;

//         & a {
//             margin-left: 4px;
//             color: $border-color;

//             transition: $transition;

//             &:hover {
//                 color: var(--button-hover);
//             }

//             &:active {
//                 color: var(--button-active);
//             }
//         }
//     }

//     &__content {
//         margin-top: 16px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         min-width: 520px;

//         & svg {
//             stroke: var(--button-bg);
//             width: 120px;
//             height: 120px;
//             margin-bottom: 20px;
//         }

//         & h1 {
//             @include heading(xl);
//             color: var(--text-primary);

//             margin-bottom: 8px;
//         }

//         & p {
//             @include text;

//             text-align: center;
//             color: var(--text-secondary);

//             max-width: 480px;

//             & a {
//                 color: var(--outgoing-message-bg);

//                 transition: $transition;

//                 &:hover {
//                     color: var(--button-hover)
//                 }

//                 &:active {
//                     color: var(--button-active)
//                 }
//             }

//         }

//         & div {
//             width: 80%;

//             margin-top: 64px;
//             padding-top: 16px;
//             border-top: 1px $border-color solid;

//             & p {
//                 @include text(sm);
//             }

//             & button {
//                 color: var(--outgoing-message-bg);

//                 transition: $transition;

//                 &:hover {
//                     color: var(--button-hover)
//                 }

//                 &:active {
//                     color: var(--button-active)
//                 }
//             }
//         }
//     }

//     &__close {
//         display: block;
//         margin-left: auto;
//         margin-bottom: 12px;

//         & svg {
//             stroke: var(--icons-buttons-color);

//             transition: $transition;
//         }

//         &:hover svg {
//             stroke: var(--button-hover);
//         }

//         &:active svg {
//             stroke: var(--button-active);
//         }
//     }
// }

.input__margin {
    margin-bottom: 8px;

    &__last {
        margin-bottom: 60px;
    }
}