@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.button {
    @include text;

    background-color: var(--accent);
    color: var(--bg-primary);

    width: 100%;

    padding: 8px 16px;
    border-radius: $border-radius;

    transition: $transition;

    &:hover {
        background-color: var(--accent-hover);
    }

    &:active {
        background-color: var(--accent-active);
    }

    &:disabled {
        background-color: var(--accent-fog);
        cursor: not-allowed;
    }
}