* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

input {
    width: 100%;
    padding: 0;
    outline: none;
    border: none;
}

button {
    background-color: transparent;

    cursor: pointer;

    padding: 0;
    border: none;
}