@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.userinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    background-color: var(--bg-secondary);

    margin: 0 0 20px 0;
    overflow: hidden;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 12px;

        & img {
            width: 32px;
            height: 32px;
        }

        & h1 {
            @include heading(lg);
            color: var(--text-primary);
        }
    }

    &__icon {
        stroke: var(--border-color)
    }
}