@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.messages {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 4px 24px;
    height: fit-content;
    max-height: 82.5vh;
    overflow-y: scroll;
}


.message {
    width: fit-content;
    max-width: 380px;
    min-width: 80px;
    padding: 12px;
    border-radius: $border-radius;

    &__sender {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 4px;
        background-color: var(--outgoing-message-bg);
        margin-left: auto;
        
        & p {
            color: white;
        }

        & span {
            @include text(xs);
            color: $border-color;
            position: relative;
            visibility: hidden;

            display: flex;
            align-items: flex-end;

            & div {
                visibility: visible;
                position: absolute;
                top: 8px;
                right: 0;
            }
        }
    }

    &__receiver {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 4px;
        background-color: var(--incoming-message-bg);

        & p {
            color: var(--text-primary);
        }

        & span {
            @include text(xs);
            color: var(--text-secondary);
            position: relative;
            visibility: hidden;

            & div {
                visibility: visible;
                position: absolute;
                top: 8px;
                right: 0;
            }
        }
    }
}