@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.messages {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 4px 24px;
    height: fit-content;
    max-height: 82.5vh;
    overflow-y: scroll;
}


.message {
    max-width: fit-content;
    padding: 12px;
    border-radius: $border-radius;

    &__sender {
        background-color: var(--outgoing-message-bg);
        color: white;
        margin-left: auto;
    }

    &__receiver {
        background-color: var(--incoming-message-bg);
    }
}