@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.messages {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 24px;
    max-height: 90vh;
    overflow-y: auto;
}


.message {
    max-width: fit-content;
    padding: 12px;
    border-radius: $border-radius;

    &__sender {
        background-color: var(--outgoing-message-bg);
        color: white;
        margin-left: auto;
    }

    &__receiver {
        background-color: var(--incoming-message-bg);
    }
}