@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.input {
    width: 100%;

    & label {
        display: block;
    }

    &__label {
        @include text;

        color: var(--text-primary);
    }

    &__element {
        @include text(sm);
        color: var(--text-primary);

        padding: 12px;
        border: 1px var(--border-color) solid;
        border-radius: $border-radius;

        transition: $transition;

        &::placeholder {
            color: var(--text-secondary);
        }

        &:hover {
            border-color: var(--accent-hover);
        }

        &:focus {
            border-color: var(--accent-active);
            padding-left: 8px;
        }
    }

    &__error {
        @include text(sm);
        color: $error;
    }
}