@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.sidebar {
    position: relative;
    background-color: var(--bg-secondary);

    min-width: 300px;
    max-width: 360px;
    width: 100%;

    padding: 16px 12px;
    border-right: 1px solid var(--border-color);
}