@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.sidebar {
    position: relative;

    min-width: 300px;
    max-width: 360px;
    width: 100%;

    border-right: 1px solid var(--border-color);
}