@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.modal__close {
    margin-top: 4px;
    margin-right: 8px;
    height: 32px;

    & svg {
        stroke: var(--icons-buttons-color);
        width: 32px;
        height: 32px;

        transition: $transition;
    }

    &:hover svg {
        stroke: var(--button-hover);
    }

    &:active svg {
        stroke: var(--button-active);
    }
}

.users {
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    transform: translateX(420px);
    max-width: 420px;
    width: 100%;

    padding: 24px 12px;
    border-right: 1px $border-color solid;


    height: 100%;

    transition: $transition;

    &__bar {
        display: flex;
        align-items: center;
    }

    & ul {
        margin-top: 16px;
    }

    &__open {
        transform: translateX(0);
    }
}
