@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.chatitem {
    &__link {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    
        padding: 12px;
    
        width: 100%;
        cursor: pointer;
    
        transition: $transition;

        &.active {
            background-color: var(--button-disabled);
        }

        &:hover {
            background-color: var(--incoming-message-bg);
        }

        &:active {
            background-color: var(--outgoing-message-bg);
        }

        &:active p {
            color: whitesmoke;
        }

        &:active .chatitem__info h2 {
            color: white;
        }

        & p {
            color: var(--text-secondary);
        }
    }

    &__main {
        display: flex;

        & img {
            width: 44px;
            height: 44px;

            margin-right: 8px;
            border-radius: 50%;
        }
    }

    &__info {
        color: var(--text-primary);

        & h2 {
            @include heading;
        }

        & p {
            @include text(sm);
            color: var(--text-secondary);

            max-width: 180px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}