@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.input {
    width: 100%;

    & label {
        display: block;
        position: relative;

        margin-bottom: 4px
    }

    &__label {
        @include text;

        color: var(--text-primary);
    }

    &__element {
        @include text(sm);
        color: var(--text-primary);

        padding: 12px;
        border: 1px var(--border-color) solid;
        border-radius: $border-radius;

        transition: $transition;

        &::placeholder {
            color: var(--text-secondary);
        }

        &:hover {
            border-color: var(--accent-hover);
        }

        &:focus {
            border-color: var(--accent-active);
            padding-left: 8px;
        }
    }

    &__button {
        position: absolute;
        top: 11px;
        right: 12px;

        height: 24px;

        & svg {
            stroke: var(--border-color);

            transition: $transition;

            &:hover {
                stroke: var(--accent-hover);
            }

            &:active {
                stroke: var(--accent-active);
            }
        }
    }

    &__error {
        @include text(sm);
        color: $error;
    }

    &__strength {
        & ul {
            width: 100%;
            display: flex;
            justify-content: space-between;

            margin-bottom: 2px;

            & li {
                display: block;

                width: 33%;
                height: 4px;

                border-radius: $border-radius;

                transition: $transition;
            }
        }

        & p {
            @include text(sm);
            transition: $transition;
        }
    }
}

.strength {
    background-color: var(--accent-fog);

    &__error {
        background-color: $error;
    }

    &__low {
        color: $error;
    }

    &__medium {
        background-color: $warning;
    }

    &__mid {
        color: $warning;
    }

    &__success {
        background-color: $success;
    }

    &__high {
        color: $success;
    }
}