@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.input {
    width: 100%;
    padding: 0 12px 12px 12px;

    & label {
        display: block;
        position: relative;
    }

    &__element {
        @include text(sm);

        background-color: var(--input-field-bg);
        color: var(--text-primary);

        padding: 12px;
        padding-left: 44px;
        border: 1px var(--border-color) solid;
        border-radius: $border-radius;

        transition: $transition;

        &::placeholder {
            color: var(--text-secondary);
        }

        &:hover {
            border-color: var(--icons-buttons-color);
        }

        &:focus {
            border-color: var(--outgoing-message-bg);
            padding-left: 40px;
        }
    }

    &__emoji__box {
        position: absolute;
        bottom: 55px;
    }

    &__emoji__btn {
        position: absolute;
        height: 24px;

        top: 11px;
        left: 12px;

        & svg {
            fill: var(--icons-buttons-color);

            width: 24px;
            height: 24px;
        }

        &:hover svg {
            fill: var(--button-hover);
        }

        &:active svg {
            fill: var(--button-active);
        }
    }
}